.select {
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    font-family: "Inter";
    font-size: 12px;
    cursor: pointer;
}

.select::after {
    content: "\25BC";
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: 0.25s all ease;
}