.button {
    padding: 14px 45px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background-color: #3E87F8;
    cursor: pointer;
}
